@tailwind base;
@tailwind components;
@tailwind utilities;

.square-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.square-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
